<div class="row">
  <div class="col-md-12">
    <h1><%= t('pages.users.index') %></h1>
  </div>

  <div class="col-md-6">
    <%= render 'form' %>
  </div>

  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th><%= User.human_attribute_name(:id) %></th>
            <th><%= User.human_attribute_name(:full_name) %></th>
            <th><%= User.human_attribute_name(:phone) %></th>
            <th><%= User.human_attribute_name(:email) %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>
